$color-midnight-moss    : #071406;
$color-palm-leaf        : #113310;
$color-palm-left-2      : #174415;
$color-parsley          : #1B5119;
$color-pastel-green     : #4DE849;
$color-snow-flurry      : #DEF9C3;
