/////////////////////////////////////////////////////////////////
// Device: Mobile
/////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
    .home
    {
        height:   100%;
        position: relative;
        
        .polynomialroots
        {
            opacity: 0;
            
            &.is-visible
            {
                opacity: 1;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////
// Device: Tablet portrait
/////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
    .home
    {
    }
}

/////////////////////////////////////////////////////////////////
// Device: Desktop
/////////////////////////////////////////////////////////////////

@include tablet-landscape-and-up
{
    .home
    {
    }
}
