/////////////////////////////////////////////////////////////////
// Device: Mobile
/////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
    .home
    {
        background:      url("../assets/backgrounds/space.png") center center no-repeat;
        background-size: cover;
        height: 100%;
    }
}

/////////////////////////////////////////////////////////////////
// Device: Tablet portrait
/////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
    .home
    {
    }
}

/////////////////////////////////////////////////////////////////
// Device: Desktop
/////////////////////////////////////////////////////////////////

@include tablet-landscape-and-up
{
    .home
    {
    }
}
