/*
@note: in this file, we define colors like this:

$color-name: hexadecimalCode;
*/
$color-black:          #000000;
$color-blue-anakiwa:   #A6E7FF;
$color-green-screamin: #5FF16E;
$color-grey-alto:      #DDDDDD;
$color-grey-nobel:     #B3B3B3;
$color-red-tia-maria:  #C6250C;
$color-white:          #FFFFFF;
$color-flash-blue:     #09D7EC;
$color-genoa-blue:     #16717A;