<section class="polynomialroots" v-class="is-menu-opened:isMenuOpened">
    <menu class="polynomialroots-menu">
        
    </menu>
    <section class="polynomialroots-content">
        <div class="polynomialroots-burger" v-class="is-opened:isMenuOpened" v-on="click:onBurgerMenuClick">
            <div class="polynomialroots-burger-stripe"></div>
            <svg class="polynomialroots-burger-circle" x="0" y="0" viewBox="0 0 54 54">
                <path d="M16.500,27.000 C16.500,27.000 24.939,27.000 38.500,27.000 C52.061,27.000 49.945,15.648 46.510,11.367 C41.928,5.656 34.891,2.000 27.000,2.000 C13.193,2.000 2.000,13.193 2.000,27.000 C2.000,40.807 13.193,52.000 27.000,52.000 C40.807,52.000 52.000,40.807 52.000,27.000 C52.000,13.000 40.837,2.000 27.000,2.000 "/>
            </svg>
        </div>
        <div class="polynomialroots-content-overlay"></div>
    </section>
</section>