$button-height : 30px;

.button
{
    background-color : $color-midnight-moss;
    border           : 1px solid $color-pastel-green;
    box-sizing       : border-box;
    color            : $color-pastel-green;
    display          : inline-block;
    font-family      : sans-serif;
    font-size        : 0.9rem;
    height           : $button-height;
    padding          : 5px 10px;
    transition       : background-color 0.2s;

    &:hover
    {
        background-color : $color-parsley;
        color            : #FFF;
    }
}
