.table
{
    border-collapse : collapse;
    table-layout    : fixed;
    width           : 100%;
}
.table__cell
{
    background-color : $color-midnight-moss;
    border           : 1px solid $color-pastel-green;
    color            : $color-pastel-green;
    font-family      : sans-serif;
    font-size        : 0.9rem;
    padding          : 5px;
}
