<section class="app">
    <h1 class="app__title">
        Welcome to the Matrix Project
    </h1>
    <nav class="app__nav">
        <ul class="app__nav__items">
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!add">
                    Addition
                </a>
            </li>
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!sub">
                    Soustraction
                </a>
            </li>
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!multiply">
                    Produit
                </a>
            </li>
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!multiply-by-real">
                    Produit par un réel
                </a>
            </li>
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!invert">
                    Inverse
                </a>
            </li>
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!gauss">
                    Résolution de système linéaire
                </a>
            </li>
            <li class="app__nav__item">
                <a class="app__nav__item__link" href="#!transpose">
                    Transposée
                </a>
            </li>
        </ul>
    </nav>
</section>
