$textfield-height : 30px;

.textfield
{
    background-color : $color-midnight-moss;
    border           : 1px solid $color-pastel-green;
    box-sizing       : border-box;
    color            : $color-pastel-green;
    display          : inline-block;
    height           : $textfield-height;
    padding          : 5px 10px;
    transition       : background-color 0.2s;
}
