<polymer-element name="component-radio" attributes="name value" noscript>
    <template>
        <link rel="stylesheet" href="radio.css">
        <div class="radio">
            <label class="radio__label">
                <span class="radio__label__text">
                    <content></content>
                </span>
                <input type="radio" class="radio__input" name="{{name}}" value="{{value}}">
                <div class="radio__button"></div>
            </label>
        </div>
    </template>
</polymer-element>
